page-myaccount {
    .user-img{
        text-align: center;
    }
    .user-name{
        color: #ccc;
        text-align: center;
        font-size: 20px;
    }
    .user-email{
        color: #999;
        margin-top: -15px;
    }
    .profile-bg{
        background: transparent;
        color: #ccc;
    }
}
