<ion-header>
  <ion-navbar color="theme-color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-icon class="osher-icon" clear></ion-icon>
    <ion-title class="osher-txt">MY ACCOUNT</ion-title>
    <ion-icon name="contact" class="profile-btn" (click)="loginNav();"></ion-icon>
  </ion-navbar>

</ion-header>

<ion-content padding style="background: #151318;">
  <form name="myForm" #myForm="ngForm"  (ngSubmit)="changePassword()">
    <ion-list>
      <div *ngIf="notExist" style="color: brown; padding-left:10px;">Invalid Email ID</div>
  <ion-item>
    <ion-input type="password" name="currentPassword" placeholder="Current Password" (change)="onCurrentPas()" [(ngModel)]="currentPassword" aria-required="true"></ion-input>
  </ion-item>
  <ion-item *ngIf="wrongPass">
    <p style="color: red">Incorrect Password</p>
  </ion-item>
  
  <ion-item>
    <ion-input type="password" name="newPassword" placeholder="New Password" [(ngModel)]="newPassword" aria-required="true"></ion-input>
  </ion-item>
  
  <ion-item>
      <ion-input type="password" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="confirmPassword" aria-required="true"></ion-input>
    </ion-item>
    <div style="color: brown; padding-left:10px;" *ngIf="checkPassword">Incorrect Confirm Password</div>
  
  <ion-item>
      <button class="submit-btn" ion-button block padding type="Submit" >Submit</button>
    </ion-item>
    <ion-item>
      <a item-end (click)="forgotPassword()">Forgot Password ?</a>
    </ion-item>
  </ion-list>
  </form>
</ion-content>
