page-paytransfer {
    .user-img{
        text-align: center;
        background: #009cff;
        padding-top: 80px;
        padding-bottom: 10px;
    }
    .transfer-form{
        padding: 10px;
    }
    .transfer-form ion-input{
        margin: 5px;
    }
}
