
  <form *ngIf="!email" [formGroup]="forgotGroup" (ngSubmit)="forgotEmail()">
      <ion-list>
        <div class="logo">
        </div>
        <div *ngIf="notExist" style="color: brown; padding-left:10px;">Invalid Email ID</div>
    <ion-item>
      <ion-input type="text" name="email" placeholder="Enter Email ID" formControlName="email" aria-required="true"></ion-input>
    </ion-item>
    
    <ion-item>
        <button class="submit-btn" ion-button block padding type="Submit" [disabled]="forgotGroup.invalid">Submit</button>
    </ion-item>
    </ion-list>
    </form>
  
  <form *ngIf="email && !otpKey" [formGroup]="otpGroup" (ngSubmit)="otpFun()">
      <ion-list>
          <div class="logo">
          </div>
          <div *ngIf="invalidOTP" style="color: brown; padding-left:10px;">Invalid OTP Key</div>
    <ion-item>
      <ion-input type="text" name="otp" placeholder="Enter OTP" formControlName="otp" aria-required="true"></ion-input>
    </ion-item>
      
    <ion-item>
        <button class="submit-btn" ion-button block padding type="Submit" [disabled]="otpGroup.invalid">Submit</button>
    </ion-item>
  
    </ion-list>
  </form>
  
  <form *ngIf="otpKey" [formGroup]="passGroup" (ngSubmit)="newPass()">
      <ion-list>
          <div class="logo">
          </div>
    <ion-item>
      <ion-input type="password" name="newpassword" placeholder="New Password" formControlName="newpassword" aria-required="true"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-input type="password" name="confirmpassword" placeholder="Confirm Password" formControlName="confirmpassword" aria-required="true"></ion-input>
      </ion-item>
      <div style="color: brown; padding-left:10px;" *ngIf="confirmpassword">Incorrect Confirm Password</div>
      
    <ion-item>
        <button class="submit-btn" ion-button block padding type="Submit" [disabled]="passGroup.invalid">Submit</button>
    </ion-item>
  
    </ion-list>
  </form>

