page-homescreen {
.homescreen{
    width: 100%;
    height: 100%;
    background: url('../assets/imgs/homescreen.jpg');
    background-size: 100%;
}
.homescreen1{
    width: 100%;
    height: 100%;
    background: url('../assets/imgs/homescreen1.jpg');
    background-size: 100%;
}
.homescreen3{
    width: 100%;
    height: 100%;
    background: url('../assets/imgs/homescreen3.jpg');
    background-size: 100%;
}
.slid-img{
    width: 100px; 
    height: 100px;
    background:no-repeat;
}
.continue-btn{
   margin-top: 150px;
}
}
